<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    <title>anagram</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <p>Anna's Grams</p>
      </div>
      <h1>Input a word and a list of words and we will tell you if any in that list is an anagram of that word.</h1>
      <form class="" action="/word">
        <div class="form-group">
          <label for="word">Put your word right here!</label>
          <input type="text" name="word" id="word">
        </div>
        <button type="submit" name="button">Touch me!</button>
      </form>
      <form action="/list">
        <div class="form-group">
          <label for="list">Put your List right here!</label>
          <input type="text" name="list" id="list">
        </div>
          <button type="submit" name="button">Touch me!</button>
      </form>
    </div>
  </body>
</html>
