<!DOCTYPE html>
<html>
  <head>

    <title>list</title>
  </head>
  <body>
    <div class="container">
      <h1>HERES YOUR LIST OF WORDS YOU BIG JERK!</h1>
      {% for poop in poops %}
        <p>{{ poop.makeAnagram }}</p>
        <p>{{ poop.makeAnagram_two }}</p>
        <p>{{ poop.compareTheShit }}</p>
      {% endfor %}
    </div>
  </body>
</html>
